body
{
    background-size: cover;
}
.OnePiece
{
    font-size:23px;
    width:100%;
    margin:0px;
}
#status,#number_of_objects,#start
{
font-size:18px;
}
.copy_right_footer {
    position: fixed;
    color:  rgb(179, 38, 38);
    bottom:0;
    width:100%;
    background-color: gray;
}
canvas
{
border:2px solid white;
border-radius: 10px;
margin-top: 130px;
box-shadow: 5px 5px 5px white;
}